html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16pt;
}

.wrapper,
.footer-block {
  margin-right: 100px;
  margin-left: 100px;
}

body {
  background-color: #d3d6dd;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 10pt;
}

.name {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 46px;
  color: rgb(61, 90, 59);
}

.nav-item {
  text-decoration: none;
  color: grey;
  margin-right: 15px;
}

#info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 60px;
}

.avatar {
  max-width: 300px;
  border-radius: 50%;
  margin-left: -50px;
}

.contacts-name,
.title-summary {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

.contacts {
  font-style: normal;
  font-size: 30px;
  line-height: 35px;
  color: #302c34;
}

.telephone,
.mail,
.city,
.github {
  max-width: 15px;
}

.account {
  text-decoration: none;
  color: #302c34;
}

.telephone,
.mail,
.city,
.github {
  max-width: 15px;
}

li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

.title-summary {
  text-align: center;
}

.text-summary,
.education-list,
.english-text {
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  color: #302c34;
  text-align: justify;
}

.skills-education {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skills-title,
.education-title,
.code-title,
.english-title {
  margin-bottom: 20px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 46px;
}

.education-title {
  margin-top: -15px;
}

#code {
  margin-top: 40px;
  margin-bottom: 40px;
}

.codes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.english-text {
  text-align: center;
}

.language-html {
  font-size: 10px;
}

.school-logo {
  width: 200px;
  margin-left: 50px;
}

.footer {
  margin-top: 30px;
  background-color: rgba(121, 111, 111, 0.39);
  padding: 20px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
}

.github-link {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: black;
  margin-right: 130px;
  padding-top: 20px;
  vertical-align: center;
}

.year {
  margin-right: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: black;
  padding-top: 20px;
  vertical-align: center;
  margin-right: 50px;
}
